@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-bg-color: #ffffff;
    --main-text-color: #333333;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-roboto_mono: 'Roboto Mono', monospace;
    --font-roboto: 'Roboto', sans-serif;
}

html,
body {
    color: var(--main-text-color);
    background: var(--main-bg-color);
    font-family: var(--font-montserrat);
    height: 100%;
    font-weight: 400;
    line-height: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

section {
    scroll-margin-top: 60px;
}

@layer utilities {
    .txt-shadow {
        text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.65);
    }

    .txt-shadow_2 {
        text-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
    }

    .low-box-shadow {
        box-shadow: 0px 4px 20px 6px rgba(127, 127, 127, 0.15);
    }

    .profile-box-shadow {
        box-shadow: 0px 4px 20px 6px rgba(127, 127, 127, 0.15);
    }

    .custom-rounded {
        border-radius: 130px 90px 130px 90px;
    }

    .work-item-bg {
        border-radius: 69px 59px 34px 54px;
        background: var(--Blue-green-grad, linear-gradient(180deg, #33b7ef 0%, #6ae8d1 100%));
        box-shadow: 0px 2px 15px 0px rgba(132, 146, 166, 0.45);
    }

    /* .hero-rectangle-bg {
        background: url('../../public/hero/rectangle.svg') no-repeat;
        background-size: 340px 340px;
        background-position: bottom 40px right -60px;
    } */

    .hero-bg-svg {
        background: url('../../public/bg/bg_1.svg'), url('../../public/bg/stroke_1.svg');
        /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
        background-repeat: no-repeat;
        background-size:
            2000px 1010px,
            2020px 1060px;
        background-position:
            top -100px left -70px,
            top -100px left -80px;
    }

    .main-bg-svg {
        background: url('../../public/bg/bg_2.svg'), url('../../public/bg/stroke_2.svg'),
            url('../../public/bg/stroke_3.svg'), url('../../public/bg/bg_3.svg'),
            url('../../public/bg/bg_4.svg'), url('../../public/bg/stroke_4.svg'),
            url('../../public/bg/bg_5.svg'), url('../../public/bg/stroke_5.svg'),
            url('../../public/bg/bg_6.svg'), url('../../public/bg/stroke_6.svg');
        background-repeat: no-repeat;
        background-size:
            2000px 1410px,
            2020px 1460px,
            2000px 2990px,
            2020px 2860px,
            2000px 1010px,
            2020px 1060px,
            2000px 1010px,
            2020px 1060px,
            2000px 1010px,
            2020px 1060px;
        background-position:
            top 1060px left -1180px,
            top 1045px left -1220px,
            top 3300px right -1170px,
            top 3360px right -1220px,
            top 6280px right -670px,
            top 6260px right -680px,
            bottom -800px left -870px,
            bottom -800px left -880px,
            bottom 500px left -70px,
            bottom 500px left -80px;
    }
}

@media (max-width: 480px) {
    /* .hero-rectangle-bg {
        background-position: bottom 40px right -160px;
    } */
}

@media (min-width: 500px) {
    /* .hero-rectangle-bg {
        background-size: 290px 300px;
        background-position: bottom 60px right -10px;
    } */
}

@media (min-width: 1440px) {
    .hero-rectangle-bg {
        background: url('../../public/hero/rectangle.svg') no-repeat;
        background-size: 460px 460px;
        background-position: top 108px right 75px;
        z-index: 10px;
    }

    .hero-bg-svg {
        background: url('../../public/bg/bg_1.svg'), url('../../public/bg/stroke_1.svg');
        background-repeat: no-repeat;
        background-size:
            2000px 1010px,
            2020px 1060px;
        background-position:
            top -270px left -70px,
            top -280px left -80px;
        z-index: 0;
    }

    .clip-angled {
        clip-path: polygon(0 0, 100% 0, 94% 94%, 34% 88%);
    }

    .about-section-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'A B'
            'C B';
    }

    .about-section-grid .block-a {
        grid-area: A;
    }
    .about-section-grid .block-b {
        grid-area: B;
    }
    .about-section-grid .block-c {
        grid-area: C;
    }

    .discount-section-bg {
        background: url('../../public/discount/discount_bg.webp') no-repeat right;
        background-size: cover;
    }

    .column-1 {
        grid-column: 1;
        margin-top: 100px;
    }

    .column-3 {
        grid-column: 3;
        margin-top: 60px;
    }

    .profile-box-shadow {
        box-shadow: none;
    }

    .main-bg-svg {
        background: url('../../public/bg/stroke_2.svg'), url('../../public/bg/bg_2.svg'),
            url('../../public/bg/stroke_3.svg'), url('../../public/bg/bg_3.svg'),
            url('../../public/bg/bg_4.svg'), url('../../public/bg/stroke_4.svg'),
            url('../../public/bg/bg_5.svg'), url('../../public/bg/stroke_5.svg'),
            url('../../public/bg/bg_6.svg'), url('../../public/bg/stroke_6.svg');
        background-repeat: no-repeat;
        background-size:
            2000px 1010px,
            2020px 1060px,
            2000px 2990px,
            2020px 2860px,
            2000px 1810px,
            2020px 1860px,
            2000px 1010px,
            2020px 1060px,
            2000px 1010px,
            2020px 1060px;
        background-position:
            top 1220px left -230px,
            top 1185px left -280px,
            top 2520px right -940px,
            top 2600px right -1020px,
            top 4680px left -270px,
            top 4660px left -280px,
            bottom 1200px right -270px,
            bottom 1200px right -280px,
            bottom 20px left -70px,
            bottom 20px left -80px;
    }
}

@media (min-width: 1920px) {
    .hero-rectangle-bg {
        background-size: 620px 620px;
        background-position: top 105px right 250px;
    }

    .hero-bg-svg {
        background-position:
            top -100px left -70px,
            top -100px left -80px;
    }

    .clip-angled {
        clip-path: polygon(0 0, 100% 0, 90% 96%, 30% 90%);
    }
}
